.profile-1{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    margin: 10px 10px;
    border-radius: 5px;
}
.profile-1 > img{
    width: 200px;
    height: 200px;
}
.profile-1 > div{
    padding: 5px 10px;
}
.profile-1 > div > button{
    margin: 10px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    padding: 5px 10px
}
.post2{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}
.post2 > div{
    background-color: aliceblue;
    border-radius: 10px;
    width: 95%;
    margin: 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post2 > div > img{
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 0px;
    background-position: center;
    overflow: hidden;
}
.post2 p{
    width: 100%;

}